/**
 * @author Intellectual Demon <intellectualdemon@protonmail.ch>
 **/
 
@media (min-aspect-ratio: 1/1) {
  div#grid {
    width: calc(100vh - 3rem);
    height: calc(100vh - 2rem)
  }

  div.cell {
    line-height: calc(25vh - 1.75rem)
  }
}
@media (max-aspect-ratio: 1/1) {
  div#grid {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem)
  }

  div.cell {
    line-height: calc(25vw - 1.75rem)
  }
}
html, body {
  margin: 0;
  height: 100%
}
body {
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
div#grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: .5rem;
  background: white
}
div.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 25%;
}
div.cell {
  min-height: calc(100% - 1rem);
  min-width: calc(25% - 1rem);
  text-align: center
}
div#stats {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
  background: rgba(255, 255, 255, .7);
  line-height: 1.5rem
}
span#again {
  border: 2px solid #999;
  border-radius: 4px;
  padding: .1rem .2rem;
  line-height: 3rem;
  margin-left: -.2rem;
  cursor: pointer;
  background: #edd;
}
span#again:active {
  background: #dbb
}
.hide {
  display: none
}
.centre {
  text-align: center
}
